<% content_for :page_title do %>
  Inquiry submitted at <%= I18n.l @inquiry.created_at %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back), collection_url %>
  </li>
<% end %>

<table>
  <tr>
    <td><strong><%= Spree.t(:name) %>:</strong></td> <td><%= @inquiry.name %></td>
  </tr>
  <tr>
    <td><strong><%= Spree.t(:email) %>:</strong></td> <td><%= @inquiry.email %></td>
  </tr>
  <% unless @inquiry.phone_number.blank? %>
  <tr>
    <td><strong><%= Spree.t(:phone) %>:</strong></td> <td><%= @inquiry.phone_number %></td>
  </tr>
  <% end %>
  <tr>
    <td><strong><%= Spree.t(:type) %>:</strong></td> <td><%= @inquiry.inquiry_type %></td>
  </tr>
  <% unless @inquiry.order_no.blank? %>
  <tr>
    <td><strong><%= Spree.t(:order) %>:</strong></td> <td><%= @inquiry.order_no %></td>
  </tr>
  <% end %>
  <tr>
    <td><strong><%= Spree.t(:message) %>:</strong></td> <td><%= h @inquiry.message %></td>
  </tr>

  <tr>
    <td><strong><%= Spree.t(:ip_address) %>:</strong></td> <td><%= h @inquiry.http_remote_addr %></td>
  </tr>
  <tr>
    <td><strong><%= Spree.t(:user_agent) %>:</strong></td> <td><%= h @inquiry.http_user_agent %></td>
  </tr>
  <% if @inquiry.client_viewport_size.present? %>
    <tr>
      <td><strong><%= Spree.t(:viewport_size) %>:</strong></td> <td><%= h @inquiry.client_viewport_size %></td>
    </tr>
  <% end %>
</table>